{% extends "base.html" %}

{% block title %}Add Task{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header">
            <h4>Add Task - {{ project.name }}</h4>
        </div>

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-success">
                    Save Task
                </button>

                <a href="{% url 'task_list' project.id %}"
                   class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}