{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Projects</h2>

        <a href="{% url 'project_create' %}" class="btn btn-secondary">
            + Add Project
        </a>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="card shadow-sm">

        <div class="card-header">
            All Projects
        </div>

        <div class="card-body p-0">

            <table class="table table-hover table-striped mb-0">

                <thead class="table-dark">
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Client</th>
                        <th>Manager</th>
                        <th>Budget</th>
                        <th>Status</th>
                        <th>Start Date</th>
                        <th width="220">Actions</th>
                    </tr>
                </thead>

                <tbody>

                {% for project in projects %}

                    <tr>

                        <td>{{ project.project_code }}</td>

                        <td>{{ project.name }}</td>

                        <td>{{ project.client }}</td>

                        <td>{{ project.manager }}</td>

                        <td>NPR {{ project.budget }}</td>

                        <td>

                            {% if project.status == "PLANNING" %}

                                <span class="badge bg-secondary">
                                    Planning
                                </span>

                            {% elif project.status == "IN_PROGRESS" %}

                                <span class="badge bg-primary">
                                    In Progress
                                </span>

                            {% elif project.status == "ON_HOLD" %}

                                <span class="badge bg-warning text-dark">
                                    On Hold
                                </span>

                            {% else %}

                                <span class="badge bg-success">
                                    Completed
                                </span>

                            {% endif %}

                        </td>

                        <td>{{ project.start_date }}</td>

                        <td>

                            <a href="{% url 'project_detail' project.pk %}"
                               class="btn btn-sm btn-info">
                                View
                            </a>

                            <a href="{% url 'project_update' project.pk %}"
                               class="btn btn-sm btn-secondary">
                                Edit
                            </a>

                            <a href="{% url 'project_delete' project.pk %}"
                               class="btn btn-sm btn-secondary">
                                Delete
                            </a>

                        </td>

                    </tr>

                {% empty %}

                    <tr>

                        <td colspan="8" class="text-center py-4">

                            No projects found.

                        </td>

                    </tr>

                {% endfor %}

                </tbody>

            </table>
<br/><br/><br/><br/><br/><br/>
        </div>

    </div>

</div>

{% endblock %}