<footer class="bg-dark text-white mt-5">
    <div class="container py-4">

        <div class="row">

            <div class="col-md-6">
                <h5>BuildPro</h5>
                <p class="mb-0">
                    Construction Management System for managing projects,
                    employees, inventory, suppliers and finances.
                </p>
            </div>

            <div class="col-md-6 text-md-end">
                <p class="mb-0">
                    © {% now "Y" %} BuildPro.
                    All Rights Reserved.
                </p>
            </div>

        </div>

    </div>
</footer>