{% extends "base.html" %}

{% block title %}
Add Expense
{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2>{% if form.instance.pk %}
    <h2>Edit Expense</h2>
 {% else %}
    <h2>Add Expense</h2>
{% endif %}</h2>

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

           <button type="submit" class="btn btn-primary">
     {% if form.instance.pk %}
        Update Expense
     {% else %}
        Save Expense
     {% endif %}
     </button>

        <a href="{% url 'expense_list' %}" class="btn btn-secondary">
            Cancel
        </a> 

    </form>

</div>

{% endblock %}